@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

.App {
  text-align: center;
  margin: auto;
  width: 1000px;
  height: 600px;
  padding: 5px;
}

.dayOptions,
.baseOptions,
.symbolOptions {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 600px;
  padding: 5px;
}

.info {
  display: grid;
  margin: auto;
  border-style: solid;
  border-color: gray;
  border-radius: 5px;
  background: whitesmoke;
  width: 250px;
  margin-top: -10px;
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
}

.info,
.span {
  font-size: 11px;
  font-weight: 500;
}

.span,
.red {
  color: red;
}

